<%-include('public/head.html')%>
<link rel="styleSheet" href="/index/css/index.css">
<canvas id="canvas"></canvas>
<div id="banner">轮播图</div>
<main>
	<div class="plate">
		<div class="head">
		</div>
		<div class="show">
		
		</div>
	<div>
	<div class="plate">
		<div class="head">
		</div>
		<div class="show">
		
		</div>
	<div>
	<div class="plate">
		<div class="head">
		</div>
		<div class="show">
		
		</div>
	<div>
	<div class="plate">
		<div class="head">
		</div>
		<div class="show">
		
		</div>
	<div>
</main>

<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/head.js"></script>
<script src="/js/bgLine.js"></script>
<%-include('public/footer.html')%>