*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,form,button,input,th,td{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
h1,h2,h3,h4,h5,h6{font-size:100%}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer;color:#eee;}
a:hover{outline:none}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
.clearfix{clear:both;}